<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./component/head', { title: '404 - 점빵' }) %>
	</head>
	<body>
		<div>PAGE NOT FOUND</div>
		<a href="/">홈 으로</a>
	</body>
</html>
