<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./component/head', { title: '마이페이지 - 점빵' }) %>
</head>

<body>
  <%- include('./component/header') %>
  <main id="mypage" class="main-user">
    <div class="mypage-inner">
      <section class="mypage-group">
        <div class="mypage-group-inner">
          <div class="mypage-user-profile">
            <div class="mypage-user-img">
              <img src="" alt="">
            </div>
            <div class="mypage-user-id">아이디</div>
          </div>
          <div class="mypage-history">
            <div class="sub-title">나의거래</div>
            <ul class="mypage-history-ul">
              <li class="mypage-history-li">관심목록</li>
              <li class="mypage-history-li">판매내역</li>
              <li class="mypage-history-li">구매내역</li>
            </ul>
          </div>
          <div class="mypage-review-chat">
            <div class="sub-title">후기/채팅</div>
            <ul class="mypage-review-chat-ul">
              <li class="mypage-review-chat-li">내가쓴글</li>
              <li class="mypage-review-chat-li">채팅내역</li>
            </ul>
          </div>
          <div class="mypage-my-profile">
            <div class="sub-title">나의계정</div>
            <div class="logout">로그아웃</div>
            <div>정보수정</div>
          </div>
        </div>
      </section>
      <!-- 내역 탭 -->
      <!-- 구매 내역에는 받은후기보기 추가 -->
      <section class="mypage-record">
        <div class="mypage-record-inner">
          <h2 class="mypage-record-title">판매내역</h2>
          <div class="mypage-record-tab">
            <ul>
              <li><a href="#">판매중</a></li>
              <li><a href="#">예약중</a></li>
              <li><a href="#">거래완료</a></li>
              <li><a href="#">숨김</a></li>
              <li><a href="#">보낸후기보기</a></li>
            </ul>
          </div>
          <div class="mypage-record-product">
            <div class="mypage-record-product-list">
              <ul>
                <li>
                  <img src="" alt="">
                  <div>
                    <div class="date">등록일</div>
                    <div class="record-product-title"></div>
                    <div class="record-product-tag">상품명</div>
                    <div class="record-product-price">금액</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <%- include('./component/footer') %>
</body>

</html>