<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./component/head', { title: '프로필 - 점빵' }) %>
	</head>
	<body>
		<div id="jumbbang">
			<%- include('./component/header') %>
			<main>프로필</main>
			<%- include('./component/footer') %>
		</div>
	</body>
</html>
