<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./component/head', { title: '프로필 - 점빵' }) %>
		<script src="/static/js/index.js"></script>
	</head>

	<body>
		<div id="jumbbang">
			<%- include('./component/header') %>
			<main id="register" class="main-user d-flex justify-content-center align-items-center" style="flex: 1">
				<form style="max-width: 380px">
					<div class="py-4 text-center">
						<h2 class="fs-2">회원 정보 수정</h2>
					</div>
					<div class="row justify-content-center">
						<div class="pb-2 mb-4 border-bottom text-end">
							<p class="text-end"><span class="text-danger fw-bold">*</span>아이디는 변경 불가</p>
						</div>
						<div class="row mb-3 justify-content-center">
							<label for="userid" class="col-sm-4 col-form-label"
								>아이디<span class="text-danger fw-bold">*</span></label
							>
							<div class="col">
								<input id="userid" type="text" class="form-control" />
							</div>
						</div>
						<div class="row mb-3 justify-content-center">
							<label for="password" class="col-sm-4 col-form-label">비밀번호</label>
							<div class="col">
								<input id="password" type="text" class="form-control" />
							</div>
						</div>
						<div class="row mb-3 justify-content-center">
							<label for="passwordCheck" class="col-sm-4 col-form-label">비밀번호 확인</label>
							<div class="col">
								<input id="passwordCheck" type="text" class="form-control" />
							</div>
						</div>
						<div class="row mb-3 justify-content-center">
							<label for="nick" class="col-sm-4 col-form-label">닉네임</label>
							<div class="col">
								<input id="nick" type="text" class="form-control" />
							</div>
						</div>
						<div class="row mb-3 justify-content-center">
							<label for="email" class="col-sm-4 col-form-label">이메일</label>
							<div class="col">
								<input id="email" type="text" class="form-control" />
							</div>
						</div>
						<div class="row mb-3 justify-content-center">
							<label for="contact" class="col-sm-4 col-form-label">연락처</label>
							<div class="col">
								<input id="contact" type="text" class="form-control" />
							</div>
						</div>
						<div class="row mb-3 justify-content-center">
							<label for="address" class="col-sm-4 col-form-label">거주지</label>
							<div class="col">
								<input id="address" type="address" class="form-control" />
							</div>
						</div>
					</div>
					<!-- <div class="d-grid gap-2 row mx-auto"> -->
					<div class="container row mx-auto justify-content-between">
						<button id="registerBtn" class="btn-primary btn-md mt-3 mb-3 col-4" type="button">탈퇴하기</button>
						<button id="registerBtn" class="btn-primary btn-lg mt-3 mb-3 col-4" type="button">수정하기</button>
					</div>
				</form>
			</main>
			<%- include('./component/footer') %>
		</div>
	</body>
</html>
