<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./component/head', { title: '보낸 후기 - 완두점빵' }) %>
		<link rel="stylesheet" href="/static/review.min.css" />
	</head>
	<body>
		<div id="jumbbang">
			<%- include('./component/header') %>
			<main id="mypage" class="main-user">
				<div class="mypage-inner">
					<%- include('./component/mypageMenu') %>
					<div class="mypage-record">
						<h1 class="h3 fw-bold mb-4">보낸 후기</h1>
						<div class="commentWrap">
							<div class="summary">
								<h2 class="h4">
									<strong class="fw-bold">하니</strong>님에게 <br />따뜻한 후기를
									<br class="d-none d-lg-block" />
									보냈어요 😍
								</h2>
							</div>
							<div class="review">
								<h3 class="tit fs-5 mb-3">
									<strong class="fw-bold">하니</strong>님과<br />
									<strong class="fw-bold">샤넬 향수 N°5 팔아요</strong> 거래 했어요
								</h3>
								<!-- 남긴 후기 메세지 -->
								<div class="comment mb-3">
									약속 있으실때 미리 연락 주시고 약속 시간에 맞춰서 거래 할 수 있어서 좋았습니다<br />
									건강 하시고 행복 하세요~~
								</div>

								<!-- 후기 남길때 선택한 사항  -->
								<ul>
									<li>시간 약속을 잘지켜요</li>
									<li>제가 있는곳 까지 와서 거래했어요</li>
									<li>친절하고 매너가 좋아요</li>
									<li>응답이 빨라요</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //mypage-record -->
				</div>
				<!-- //mypage-inner -->
			</main>
			<%- include('./component/footer') %>
		</div>
		<script></script>
	</body>
</html>
