<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./component/head', { title: '보낸 후기 - 완두점빵' }) %>
		<link rel="stylesheet" href="/static/chats.min.css" />
	</head>
	<body>
		<div id="jumbbang">
			<%- include('./component/header') %>
			<main class="container">
				<h1>보낸 후기</h1>
				<p><strong>자신의 아이디</strong>님,<br /><strong>상대방 아이디</strong>님과 거래가 어떠셨나요?</p>

				<h3>거래 선호도는 나만 볼 수 있어요</h3>
				<input type="radio" /><label for="">별로예요</label> <input type="radio" /><label for="">좋아요</label>
				<input type="radio" /><label for="">최고예요</label>
				별로예요
				<dl>
					<dt>어떤 점이 별로였나요?</dt>
					<dd>시간약속을 안 지켜요</dd>
					<dd>채팅 메세지를 읽고도 답이 없어요</dd>
					<dd>원하지 않는 가격을 계속 요구해요</dd>
					<dd>예약만 하고 거래 시간을 명확하게 알려주지 않아요</dd>
					<dd>거래 시간과 장소를 정한 후 거래 직전 취소 했어요</dd>
					<dd>거래 시간과 장소를 정한 후 연락이 안돼요</dd>
					<dd>약속 장소에 나타나지 않았어요</dd>
					<dd>단순 변심으로 환불을 요구해요</dd>
					<dd>반말을 사용해요</dd>
					<dd>불친절 해요</dd>
					<dt>아쉬웠던 점을 말씀해주세요</dt>
					<dd>
						<p>상대방에게 전달되지 않으니 안심하세요</p>
						<textarea name="" id="" placeholder="내용을 적어주세요(선택 사항)"></textarea>
					</dd>
				</dl>

				좋아요
				<dl>
					<dt>어떤 점이 최고였나요?</dt>
					<dd>제가 있는 곳까지 와서 거래했어요</dd>
					<dd>친절하고 매너가 좋아요</dd>
					<dd>시간 약속을 잘 지켜요</dd>
					<dd>응답이 빨라요</dd>
					<dd>
						<p>남겨주신 거래 후기는 상대방의 프로필에 공개돼요</p>
						<textarea name="" id="" placeholder="내용을 적어주세요(선택 사항)"></textarea>
					</dd>
				</dl>
				최고예요
				<dl>
					<dt>어떤 점이 최고였나요?</dt>
					<dd>제가 있는 곳까지 와서 거래했어요</dd>
					<dd>친절하고 매너가 좋아요</dd>
					<dd>시간 약속을 잘 지켜요</dd>
					<dd>응답이 빨라요</dd>
					<dd>
						<p>남겨주신 거래 후기는 상대방의 프로필에 공개돼요</p>
						<textarea name="" id="" placeholder="내용을 적어주세요(선택 사항)"></textarea>
					</dd>
				</dl>
				<button class="btn-rpimary">후기 보내기</button>
			</main>
			<%- include('./component/footer') %>
		</div>
		<script></script>
	</body>
</html>
