<section class="mypage-group">
  <div class="mypage-group-inner">
    <div class="mypage-user-profile">
      <div class="mypage-user-img">
        <img src="" alt="">
      </div>
      <div class="mypage-user-id">아이디</div>
    </div>
    <div class="mypage-history">
      <div class="sub-title">나의거래</div>
      <ul class="mypage-history-ul">
        <li class="mypage-history-li">관심목록</li>
        <li class="mypage-history-li">판매내역</li>
        <li class="mypage-history-li">구매내역</li>
      </ul>
    </div>
    <div class="mypage-review-chat">
      <div class="sub-title">후기/채팅</div>
      <ul class="mypage-review-chat-ul">
        <li class="mypage-review-chat-li">내가쓴글</li>
        <li class="mypage-review-chat-li">채팅내역</li>
      </ul>
    </div>
    <div class="mypage-my-profile">
      <div class="sub-title">나의계정</div>
      <div class="logout">로그아웃</div>
      <div>정보수정</div>
    </div>
  </div>
</section>