#cs {
  height: calc(100vh - 120px - 80px);
  overflow-y: auto;
}

.cs-inner {
  width: 80%;
  margin: 0 auto;
}

.cs-info {
  background-color: #83a793;
  padding: 3em 0;
  color: #fff;
}

.cs-h2 {
  font-size: 2rem;
  margin-bottom: 0.8em;
}

.cs-inner > p:nth-child(2) {
  margin-bottom: 0.3em;
}

.cs-FAQ {
  margin-top: 3em;
}
.accordion {
  width: 60%;
  margin: 0 auto;
}

.email-inquery {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 1em;
}
