.cs-inner {
  max-width: 1280px;
  margin: 0 auto;
}

.cs-info {
  background-color: #83a793;
  padding: 3em 0 5em 0;
  color: #fff;
}

.cs-h2 {
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 1.3em;
}

.search-bar.cs {
  width: 60%;
  margin-bottom: 1.2em;
  box-shadow: none;
}

.FAQ-title {
  text-align: center;
  margin: 3em 0 1em 0;
  font-size: 1.5rem;
}

.accordion {
  margin-bottom: 5em;
}
