/* 헤더 */
#header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #adadad;
  z-index: 10;
}

.header-inner {
  width: 80%;
  margin: 0 auto;
}

.header-inner-top {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.5em;
}

.logo-wrap {
  display: flex;
}

.page-link {
  display: flex;
  align-items: flex-end;
}

.page-link > li {
  font-size: 1.2rem;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
}

.page-link > li:first-child:after {
  content: '';
  border-left: 2px solid #adadad;
  margin-left: 0.5em;
}

.page-link > li > a {
  cursor: pointer;
  color: #525252;
}

.logo-img {
  width: 180px;
}

.utility-wrap {
  display: flex;
  margin-left: auto;
}

.sub-header {
  display: none;
}

.info > i {
  cursor: pointer;
}

.user-info {
  margin-left: 0.5em;
}

#nav {
  height: 50px;
  line-height: 50px;
  display: flex;
}

.bi-justify {
  cursor: pointer;
}

#nav > span {
  margin-left: 0.3em;
}
.etc {
  display: flex;
  margin-left: auto;
}
.etc > li {
  margin-left: 1em;
  cursor: pointer;
}

/* 메인 */
main {
  margin-top: 120px;
}

/* 푸터 */
#footer {
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: #f5f5f5;
}
.footer-inner {
  width: 80%;
  margin: 0 auto;
}
